<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="d-flex flex-column" style="border: 2px solid black; padding: 20px;">
      <h4>Edytuj Zadanie</h4>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="d-flex flex-row justify-content-between" style="margin-top: 5px;">
            <label>Kategoria zadania:</label>
            <select [(ngModel)]="selectedCategory" name="selectedOption">
                <option *ngFor="let option of Category" [value]="option" [selected]="option === selectedCategory">{{ option }}</option>
              </select>
          </div>
      <div class="d-flex flex-row justify-content-between" style="margin-top: 5px;" >
        <label>Treść zadania:</label>
        <input type="text" id="task_content" ngModel name="task_content"  [ngModel]="worker!.tasks[id_task!].task_content">
      </div>
      <div class="d-flex flex-row justify-content-between" style="margin-top: 5px;">
        <label>Status:</label>
        <!-- <app-drop-down (ItemEvent)="newStatus($event)" [worker]="worker" [id] ="id_task">
        </app-drop-down> -->
      </div>
      <div class="d-flex flex-row justify-content-between" style="margin-top: 5px;">
        <label>Zaawansowanie: </label>
        <mat-slider min="0" max="100" step="5" value="0" class="example-margin" >
            <input matSliderThumb [(ngModel)]="defaultSliderValue" name="slidervalue" #slider>
        </mat-slider>
        <label class="example-value-label" style="margin-left: 5px;">[{{slider.value}}]</label>
      </div>
      <div class="d-flex justify-content-start" style="margin-top: 10px;">
        <button class="btn btn-primary mr-2" style="margin-right: 5px" type="submit" [disabled]="isEdditing">OK</button>
        <button class="btn btn-danger" routerLink="../../" [disabled]="isEdditing">Anuluj</button>
      </div>
    </form>
    <div style="text-align: center;" *ngIf="isEdditing">
      <app-spinner>
        
      </app-spinner>
    </div>
    </div>
  </div>
  